.loader {
    position: relative;
    width: 4.5em;
    height: 4.5em;
    transform: rotate(165deg);
   }
   
   .loader:before, .loader:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 2.5em;
    height: 2.5em;
    border-radius: 0.25em;
    transform: translate(-50%, -50%);
   }
   
   .loader:before {
    animation: before8 2s infinite;
   }
   
   .loader:after {
    animation: after6 2s infinite;
   }
   
   @keyframes before8 {
    0% {
     width: 0.5em;
     box-shadow: 1em -0.5em rgba(150, 24, 72, 0.75), -1em 0.5em rgba(21, 106, 122, 0.75);
    }
   
    35% {
     width: 2.5em;
     box-shadow: 0 -0.5em rgba(150, 24, 72, 0.75), 0 0.5em rgba(21, 106, 122, 0.75);
    }
   
    70% {
     width: 0.5em;
     box-shadow: -1em -0.5em rgba(150, 24, 72, 0.75), 1em 0.5em rgba(21, 106, 122, 0.75);
    }
   
    100% {
     box-shadow: 1em -0.5em rgba(34, 9, 18, 0.75), -1em 0.5em rgba(21, 106, 122, 0.75);
    }
   }
   
   @keyframes after6 {
    0% {
     height: 0.5em;
     box-shadow: 0.5em 1em rgba(7, 104, 15, 0.75), -0.5em -1em rgba(16, 20, 83, 0.75);
    }
   
    35% {
     height: 2.5em;
     box-shadow: 0.5em 0 rgba(7, 104, 15, 0.75), -0.5em 0 rgba(16, 20, 83, 0.75);
    }
   
    70% {
     height: 0.5em;
     box-shadow: 0.5em -1em rgba(7, 104, 15, 0.75), -0.5em 1em rgba(16, 20, 83, 0.75);
    }
   
    100% {
     box-shadow: 0.5em 1em rgba(7, 104, 15, 0.75), -0.5em -1em rgba(16, 20, 83, 0.75);
    }
   }
   
   .loader {
    position: absolute;
    top: calc(50% - 1.25em);
    left: calc(50% - 1.25em);
   }
 
 .accountDIV{
    width:95%;
    margin: 0 auto;
    position: relative;
}

.container{
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.box{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-block: 2rem;
    background-color: #1f1a36;
    color: #fff;
    border-radius: .5rem;
    overflow: hidden;
}

.account{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: 2rem;
}


.box span{
    margin-left: 1rem;
    font-weight: 600;
    color: white
}

.owner{
    display: flex;
    padding: .5rem 1rem;
    align-items: center;
    gap: 2rem;
    margin-right: .8rem;
}
.owner p{

    cursor: pointer;
    padding: .5rem 1rem;
    background-color: #9a02ac;
    align-items: center;
    border-radius: .5rem;
    font-weight: 700;
    display: flex;
}
.overviewBox{
    display: grid;
    grid-template-columns: 2fr 1fr;
    line-height: 1;
    font-size: 20px;
}
.overview{
    background-color: #1f1a36;
    color: #fff;
    padding: .5rem 1rem;
    font-size: 14px;
    border-radius: .5rem;
}
.overviewTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    margin-right: 2rem;
    /* border: 1px solid grey; */
} 
.miner{
    border: 1px solid grey;
    padding: .5rem;
    border-radius: .5rem;
}
.accountBalance{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
}
.accountValue{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
}
.color{
    background-color: #6a02ac;
    padding: .5rem;
    border-radius: .5rem;
}
.branding{
    background-color: #1f1a36;
    color: #fff;
    padding: .5rem;
    border-radius: .5rem;
    text-align: center;
    line-height: 1.3;
}
.btnContainer{
    margin-bottom: 4rem;
    position: relative;
    text-align: center;
    margin-top: 4rem;
}
.btnContainer h1{
    font-size: 3rem;
    line-height: 1;
    color: #fff;
}
.loading{
    background-color: #1f1a36;
    padding: .5rem;
    border-radius: .5rem;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 45%;
}
.openBtn{
    background-color: #1f1a36;
    border: none;
    padding: 1rem 1rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    color: white;
}
@media screen and (max-width: 45em) {
    .accountDIV{
        width: 100%;
    }
    .container{
        width: 95%;
    }
    .btnContainer{
        font-size: 2.5rem;
    }
    .box{
        display: grid;
        overflow: hidden;
    }
    .box span{
        margin-left: 0;
    }
    .account{
        /* flex-direction: column; */
        padding-top: 1rem;
        gap: 0;
        text-align: center;
        /* justify-content: center; */
       
    }
    .img1{
        display: block;
        position: relative;
        bottom:2rem;
        left:9rem;
    }
    .account p{
         margin-top: 1rem;
         text-align: center;
         margin-left: -3rem;
         width: 100%;
         /* border: 1px solid grey; */
         /* padding: 1rem 0; */
    }
    .owner{
        padding-inline: 2rem;
    }
    .overviewBox{
        grid-template-columns: 1fr;
        text-align: center;
        /* justify-content: center; */
    }
    .branding{
        justify-content: center;
        text-align: center;
    }
    .accountBalance p{
        display: flex; 
         justify-content: space-between;
         margin-right: 8rem;
    }
    .accountValue{
        margin-right: 11rem;
        justify-content: space-between;
    }
   
    .overview1{
       display: none;
    }
    .miner{
     position: relative;
     right: 10rem;
     width: 30%;
     border:none;
    }
    .branding{
        text-align: center;
        position: relative;
        /* right: 3rem; */
        width: 70%;
    }
}
